$body-background-color: black;

* {
  box-sizing: border-box;
  // font-family: 'Baskervville', serif;
  font-family: 'Cinzel Decorative', cursive;
  letter-spacing: 2px;
}
.container{
  height: 500px;
}
.hero {
    background-image: url('../images/spells.jpg');
    background-size: cover;
}


.single-spell.hero {
  background-image: url('../images/the-forbidden-forest.jpg');
  background-size: cover;
  background-color: black;
}

.single-character.hero {
  background-image: url('../images/diagon-alley.jpg');
  background-size: cover;
}

.single-househistory.hero {
  background-image: url('https://i.imgur.com/DSOSbiG.jpg');
  background-size: cover;
}

.hero.welcome {
  background-image: url('../images/hogwarts_background.jpg');
  background-size: cover;
}
.hero.sortinghat.is-fullheight {
    background-image: url('https://i.imgur.com/8u699MV.jpg');
    background-size: cover;
}

// general - search bar and filter

#search-input {
  width: 200px;
  height: 40px;
  padding: 20px;
}

.select {
  font-family: 'Cinzel Decorative', cursive;
  width: 200px;
  // height: 200px;
}


// character page 

div.character.hero.is-fullheight {
  background-image: url('https://i.imgur.com/NngxvvZ.jpg');
  background-size: cover;
}

// Founders page 

div.founders.hero.is-fullheight {
  background-image: url('https://i.imgur.com/qOYBqgz.jpg');
  background-size: cover;
}

// Fade in aniamtion for hero images 

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
 
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}



// *************** end animation ****************


html, .section {
  background-color: $body-background-color;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

}

.btn {
  cursor:pointer;
    position:relative;
    padding:10px 20px;
    background:white;
    font-size:28px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    transition:all 1s;
    &:after,&:before{
      content:" ";
      width:10px;
      height:10px;
      position:absolute;
      border :0px solid #fff;
      transition:all 1s;
      }
    &:after{
      top:-1px;
      left:-1px;
      border-top:5px solid white;
      border-left:5px solid white;
    }
    &:before{
      bottom:-1px;
      right:-1px;
      border-bottom:5px solid white;
      border-right:5px solid white;
    }
    &:hover{
      border-top-right-radius:0px;
    border-bottom-left-radius:0px;
      // background:rgba(0,0,0,.5);
      // color:white;
      &:before,&:after{
        
        width:100%;
        height:100%;
        // border-color:white;
      }
    }
  }

  .char-and-spells {
    z-index: 100;
  }

  // Navbar 
  
// .navbar-item img {
//     width: 100px;
//     max-height: 7rem;
//   }

// Sticky navbar
div.navbar {
position: fixed; 
width: 100%;
}

.navbar-item {
  background-color: black;
}
.white {
color: white; 
}

.hplogo {
width: 40px;
// height: 150px;
}
.navbar-item img {
max-height: 5rem;
}

  div.navbar-item {
    background-color: black;
    transition: 0.5s;
  }
  
  div.navbar-item:hover {
    background-color: silver;
    transition: 0.5s;
  }
  
  .navbar-menu.is-active {
    background-color: black;
  }

  p.title.has-text-centered.is-2 {
  font-family: 'Cinzel Decorative', cursive;
   margin: 10px auto;
   padding: 10px;
  }

  // character card

#largersubtitle {
  margin-top: 50px;
}

#first-subtitle {
  margin-top: 50px;
}
   


// ****** end animation******

  body {
    font-family: 'Comfortaa', cursive;
    background: black;
    color: #FFFFFF;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    text-align: center;
  }
  
  .trace-motion {
    stroke-dasharray: 650;
    stroke-dashoffset: 650;
    opacity: .8;	
  }
  
footer.card-footer {
  text-align: center;
  padding: 2px;
  margin: 0 auto;
}
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  h1 {
    font: 60px 'Cinzel Decorative';
    margin: 2em 0 .2em;
  }
  
  h3 {
    font: 24px 'Cinzel';
  }
  
  main {
    margin: 4em auto 8em;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  

  a {
    color: white;
  }

  // forms and search bars

  form.form {
    font-family: 'Cinzel Decorative', cursive;
    margin: 20px auto;
    padding: 10px;
  }

  button.button.is.small.rounded {
    margin: 0px 20px;
    font-family: 'Cinzel Decorative', cursive;
  }

  .input#search-input {
    width: 50px;
    padding: 20px;
  }

  .select {
    font-family: 'Cinzel Decorative', cursive;
    width: 200px;
    height: 150px;
  }

  .button.is-black {
    margin: 2px auto;
    // padding: 5px;
    // height: 50px;
    width: 350px;
  }


article.tile.is-child-notification {
  background-color: black;
}

.spare-background {
  opacity: 100%;
}
#character-card {
  opacity: 100%;
  position: relative;
}

.tile.is-vertical {
  background-color: black;
  opacity: 59%;
  color: white;
}

.tile.is-parent {
// position: absolute;
opacity: 95%;
}

.tile.is-child {
background-color: black;
color: white;
}


p.title {
  opacity: 100%;
}

div.single-spell.card-content {
  background-color: black;
  // opacity: 100%;
  color: white;
}

h1.has-text-white {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

// founders title

.history-title {
  font-size: 60px;
}

.history-subtitle {
font-size: 25px;
}


// Ipad portrait and landscape

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 

  .hero.welcome {
    background-image: url('../images/hogwarts_background.jpg');
    // background-size: cover;
    background-position: center;
  }

  .hero.is-fullheight {
    background-position: center;
    background-repeat:no-repeat;
    }

   .hero.sortinghat.is-fullheight {
    background-image: url('../images/hogwarts.jpg');
    background-position: center;
  }

  .single-spell.hero {
    background-image: url('../images/the-forbidden-forest.jpg');
    background-position: center;
    background-color: black;
  }

  div.founders.hero.is-fullheight {
    background-image: url('https://i.imgur.com/qOYBqgz.jpg');
    background-size: auto;
    height: 500px;
  }

#character-card {
width: 500px;
height: 600px;
  }

#largersubtitle{
  margin-top: 70px;
}

#largersubtitle2 {
  margin-top: 30px; 
}

#house-card {
  width: 230px;
  margin: 10px auto;
  overflow: hidden;
}

#housename {
  font-size: 15px;
  margin: 0 auto;
}

div.box.has-text-centered {
  margin: 30px auto;
}
div.card-content {
margin: 0 auto;
}

a.column {
margin: 0px 0px;
padding: 0px 0px;

}

#first-subtitle {
margin-top: 80px;
}
div.returntocharacters.box {
  margin-bottom: 100px;
}

// spells
select {
  display:block;
}

form.form {
margin: 20px auto;
padding: 5px;
}

#search-input {
  width: 350px;
  margin-bottom: 20px;
  // padding: 20px 20px;
}


}








// iPhone X in portrait & landscape
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) { 

  // Welcome page 
  .hero.welcome {
    background-image: url('../images/hogwarts_background.jpg');
    // background-size: cover;
    background-position: center;
  }


  p.title.has-text-centered.is-2 {
  font-size: 100px;
  }

.title:not(.is-spaced) + .subtitle {
  font-size: 60px;
  }

.button.is-black {
  height: 100px;
  width: 400px;
  font-size: 50px;
  margin: 30px auto;
  padding: 10px;
}

// House-sorting page 

.hero.sortinghat.is-fullheight {
  background-image: url('../images/hogwarts.jpg');
  background-position: center;
}

div.section {
overflow: hidden;
}

#housebuttons {
  font-size: 40px;
  width: 750px;
  height: 100px
}

// Spells spage 

.hero.is-fullheight {
background-position: center;
background-repeat:no-repeat;
}

#search-input {
width: 700px;
height: 120px;
margin: 0 auto;
font-size: 50px;
}

select {
  display: none;
}
// html {
//   height: 350%;
// }
#searchspells {
margin: 30px auto;
}

div.section.background {
  margin: 10px;
  padding: 20px;
  height: 5000px;
}
// Individual spell page 

.single-spell.hero {
  background-image: url('../images/the-forbidden-forest.jpg');
  background-position: center;
  background-color: black;
}

.single-spell.card-content {
  // margin-top: 600px;
  // display: block;
  // opacity: 20%;
  font-size: 50px;
  background-color: black;
}

#spellsreturn-button {
width: 700px;
height: 100px;
padding: 10px;
}

// individual character page 

#subtitle {
font-size: 40px;
}

#largersubtitle {
  font-size: 50px;
}

#returntocharacters {
  width: 710px;
  margin: 20px auto;
  padding: 10px;
}

#character-card {
  width: 550px;
  height: 650px;
}

// hogwarts history pages

div.founders.hero.is-fullheight {
  background-image: url('https://i.imgur.com/qOYBqgz.jpg');
  background-size: auto;
  height: 500px;
}

// #founders-height {
//   height: 300%;
//   overflow: hidden;
// }

// #paragraphs {
//   font-size: 50px;
// }

// #smallerparagraphs {
//   font-size: 40px; 
// }

#house-card {
  width: 180px;
  font-size: 13px;
  margin: 0 auto;
}

#housebutton {
// width: 130px;
// font-size: 10px;
margin: 0px auto;
display: block;
 }
 
//  individual house page 
#returntohistory {
  width: 760px;
  font-size: 40px;
  margin: 10px auto;
  padding: 5px;
}

p.subtitle {
  font-size: 40px;
  margin-top: 10px;
}
}


// iPhone 6, 7, & 8 in portrait

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 

   // Welcome page 
   .hero.welcome {
    background-image: url('../images/hogwarts_background.jpg');
    // background-size: cover;
    background-position: center;
  }


  p.title.has-text-centered.is-2 {
  font-size: 80px;
  }

  p.subtitle.has-text-centered {
    font-size: 30px;
    }
.title:not(.is-spaced) + .subtitle {
  font-size: 60px;
  }

.button.is-black {
  height: 100px;
  width: 450px;
  font-size: 50px;
  margin: 30px auto;
  padding: 10px;
}

div.box.has-text-centered {
margin: 30px auto;
font-size: 35px;
}
// House-sorting page 

.hero.sortinghat.is-fullheight {
  background-image: url('../images/hogwarts.jpg');
  background-position: center;
}

div.section {
overflow: hidden;
}

#housebuttons {
  font-size: 40px;
  width: 750px;
  height: 100px
}

// Spells spage 

.hero.is-fullheight {
background-position: center;
background-repeat:no-repeat;
}

#search-input {
width: 700px;
height: 120px;
margin: 0 auto;
font-size: 50px;
}

select {
  display: none;
}
// html {
//   height: 350%;
// }
#searchspells {
margin: 30px auto;
}

div.section.background {
  margin: 10px;
  padding: 20px;
  height: 5000px;
}
// Individual spell page 

.single-spell.hero {
  background-image: url('../images/the-forbidden-forest.jpg');
  background-position: center;
  background-color: black;
}

.single-spell.card-content {
  // margin-top: 600px;
  // display: block;
  // opacity: 20%;
  font-size: 50px;
  background-color: black;
}

#spellsreturn-button {
width: 700px;
height: 100px;
padding: 10px;
}

// individual character page 

#subtitle {
font-size: 40px;
}

#largersubtitle {
  font-size: 50px;
}

#returntocharacters {
  width: 710px;
  margin: 20px auto;
  padding: 10px;
}

#character-card {
  position: relative;
  opacity: 100%;
  width: 550px;
  height: 650px;
}

// hogwarts history pages

div.founders.hero.is-fullheight {
  background-image: url('https://i.imgur.com/qOYBqgz.jpg');
  background-size: auto;
  height: 500px;
}



#house-card {
  display:flex;
  justify-content: space-around;
  overflow: hidden;
  width: 210px;
  font-size: 7px;
  margin: -10px auto;
}

#housebutton {
width: 150px;
// font-size: 10px;
margin: 0 auto;
// display: block;
 }
 
//  individual house page 
#returntohistory {
  width: 760px;
  font-size: 40px;
  margin: 10px auto;
  padding: 5px;
}

// .btn {
//   padding: 0px;
// }

p.subtitle {
  font-size: 40px;
  margin-top: 10px;
}
}



// iPhone 6, 7, & 8 Plus in portrait

@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait) { /* STYLES GO HERE */ }


@import '~bulma'


