$body-background-color: black;

* {
  box-sizing: border-box;
  // font-family: 'Baskervville', serif;
  font-family: 'Cinzel Decorative', cursive;
  letter-spacing: 2px;
}
.container{
  height: 500px;
}
.hero {
    background-image: url('../images/spells.jpg');
    background-size: cover;
}

.single-spell.hero {
  background-image: url('../images/the-forbidden-forest.jpg');
  background-size: cover;
}

.single-character.hero {
  background-image: url('../images/diagon-alley.jpg');
  background-size: cover;
}

.hero.welcome {
  background-image: url('../images/hogwarts_background.jpg');
  background-size: cover;
}
.hero.sortinghat.is-fullheight {
    background-image: url('../images/hogwarts.jpg');
    background-size: cover;
}


html, .section {
  background-color: $body-background-color;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

}

.btn {
  cursor:pointer;
    position:relative;
    padding:10px 20px;
    background:white;
    font-size:28px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    transition:all 1s;
    &:after,&:before{
      content:" ";
      width:10px;
      height:10px;
      position:absolute;
      border :0px solid #fff;
      transition:all 1s;
      }
    &:after{
      top:-1px;
      left:-1px;
      border-top:5px solid white;
      border-left:5px solid white;
    }
    &:before{
      bottom:-1px;
      right:-1px;
      border-bottom:5px solid white;
      border-right:5px solid white;
    }
    &:hover{
      border-top-right-radius:0px;
    border-bottom-left-radius:0px;
      // background:rgba(0,0,0,.5);
      // color:white;
      &:before,&:after{
        
        width:100%;
        height:100%;
        // border-color:white;
      }
    }
  }

  .char-and-spells {
    z-index: 100;
  }

  // Navbar 
  
// .navbar-item img {
//     width: 100px;
//     max-height: 7rem;
//   }

.white {
color: white; 
}

.hplogo {
width: 40px;
// height: 150px;
}
.navbar-item img {
max-height: 5rem;
}

  div.navbar-item {
    background-color: black;
    transition: 0.5s;
  }
  
  div.navbar-item:hover {
    background-color: #ae0001;
    transition: 0.5s;
  }
  
  .navbar-menu.is-active {
    background-color: black;
  }

  p.title.has-text-centered.is-2 {
  font-family: 'Cinzel Decorative', cursive;
   margin: 10px auto;
   padding: 10px;
  }

  // spell cards 

  body {
    font-family: 'Comfortaa', cursive;
    background:brown;
    color: #FFFFFF;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    text-align: center;
  }
  
  .trace-motion {
    stroke-dasharray: 650;
    stroke-dashoffset: 650;
    opacity: .8;	
  }
  
footer.card-footer {
  text-align: center;
  padding: 2px;
  margin: 0 auto;
}
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  h1 {
    font: 60px 'Cinzel Decorative';
    margin: 2em 0 .2em;
  }
  
  h3 {
    font: 24px 'Cinzel';
  }
  
  main {
    margin: 4em auto 8em;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .spell-card {
    background: linear-gradient(315deg, #9d523c 0%, #f2a65a 74%);
    flex: 0 0 300px;
    padding: 5px;
    margin: 2em;
    border-radius: 20px;
    box-shadow: 0 0 0 14px #333;
    text-align: center;
    position: relative;
    &:before {
      content: 'Harry Potter spells';
      font-family: 'Cinzel';
      font-weight: 700;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: .5px;
      border-radius: 20px;
      background: linear-gradient(to top, #9d523c 0%, #f2a65a 74%);
      position: absolute;
      z-index: 10;
      max-width: 225px;
      top: -8px;
      padding: 5px;
      left: 0;
      right: 0;
      margin: auto;
    }
    &__inner {
      border-radius: 17px;
      overflow: hidden;
      background: #333;
    }
    h5 {
      font-family: 'Cinzel Decorative', 'Bahianita';
      font-weight: 700;
      font-size: 34px;
      margin-bottom: 15px;
      min-height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    p {
      font-family: 'Cinzel', 'Alice';
      font-size: 16px;
      width: 90%;
      margin: 0 auto 20px;
      min-height: 45px;
    }
    &__shape {
      width: 100%;
      height: 300px;
      background: #333;
      display: grid;
      place-items: center;
      position: relative;
      margin-top: 20px;
      svg {
        width: 70%;
        max-width: 250px;
        filter: drop-shadow(0 0 12px #0ff) drop-shadow(-2px -2px 12px #00bcd4);
      }
    }
    &__trace {
      position: absolute;
      width: 100%;
      opacity: .4;
      height: 100%;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: 70%;
      background-position: center;
    }
    &:hover {
      cursor: pointer;
      .trace-motion {
        animation: draw .7s linear forwards;
      }
    }
  }

  a {
    color: white;
  }

  // .sidenav {
  //   height: 100%; /* 100% Full-height */
  //   width: 0; /* 0 width - change this with JavaScript */
  //   position: fixed; /* Stay in place */
  //   z-index: 1; /* Stay on top */
  //   top: 0; /* Stay at the top */
  //   left: 0;
  //   background-color: #111; /* Black*/
  //   overflow-x: hidden; /* Disable horizontal scroll */
  //   padding-top: 60px; /* Place content 60px from the top */
  //   transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  // }
  
  // /* The navigation menu links */
  // .sidenav a {
  //   padding: 8px 8px 8px 32px;
  //   text-decoration: none;
  //   font-size: 25px;
  //   color: #dbd6d6;
  //   display: block;
  //   transition: 0.3s;
  // }
  
  // /* When you mouse over the navigation links, change their color */
  // .sidenav a:hover {
  //   color: #f1f1f1;
  // }
  
  // /* Position and style the close button (top right corner) */
  // .sidenav .closebtn {
  //   position: absolute;
  //   top: 0;
  //   right: 25px;
  //   font-size: 36px;
  //   margin-left: 50px;
  // }
  
  // /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  // #main {
  //   transition: margin-left .5s;
  //   padding: 20px;
  // }
  
  // /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  // @media screen and (max-height: 450px) {
  //   .sidenav {padding-top: 15px;}
  //   .sidenav a {font-size: 18px;}
  // }

  article.tile.is-child-notification {
    background-color: #ae0001;
  }

.tile.is-vertical {
  background-color: black;
  opacity: 59%;
  color: white;
}

.tile.is-child {
background-color: black;
opacity: 80%;
color: white;

}

p.title {
  opacity: 100%;
}

div.single-spell.card-content {
  background-color: black;
  // opacity: 100%;
  color: white;
}

h1.has-text-white {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

@import '~bulma'